* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.header {
  background-image: url("../img/header/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 26px; }
  .header__top {
    line-height: 44px; }
  .header-logo {
    display: inline-block;
    float: left;
    vertical-align: middle; }
    .header-logo__img {
      display: inline-block;
      height: 23px;
      width: 23px;
      background-image: url("../img/header/logo.png");
      background-size: cover;
      background-repeat: no-repeat; }
    .header-logo__text {
      display: inline-block;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 32px;
      color: #f4f3ee; }
  .header-nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    width: 24px;
    height: 17px;
    float: right;
    background-image: url("../img/header/nav.png");
    background-size: cover;
    background-repeat: no-repeat; }
